body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f7f7f7;
}

.container {
  padding: 20px;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #007bff;
}

/* .hero-section {
    position: relative;
    background: url("/images/hero.jpg") no-repeat center center/cover;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
  } */

.hero-section .hero-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-section .hero-text p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.hero-carousel img {
  width: 100%;
  height: 45vh;
  object-fit: cover;
}

.hero-carousel .carousel-caption {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
  text-align: center;
  max-width: 80%;
  color: #fff;
}

.static-img-container {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  position: relative;
}

.static-img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.static-img-caption {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  text-align: center;
  max-width: 80%;
  color: #fff;
}

.products-section {
  padding: 2rem 0;
}

.products-section h2,
.products-section h3 {
  margin-bottom: 1rem;
}

.custom-carousel {
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.custom-carousel-item {
  flex: 0 0 auto;
  margin-right: 1rem;
  width: calc(100% / 3 - 1rem);
}

.product-card {
  margin-bottom: 1.5rem;
}

.text-center h1 {
  margin-top: 1rem;
}

/* Media Queries for responsiveness */
@media (max-width: 1200px) {
  .custom-carousel-item {
    /* Set the width of custom carousel items to half of the container width minus 1rem */
    width: calc(100% / 2 - 1rem);
  }
}

/* For screens with a maximum width of 768px */
@media (max-width: 768px) {
  .custom-carousel-item {
    /* Set the width of custom carousel items to the full container width minus 1rem */
    width: calc(100% - 1rem);
  }
}

/* For screens with a maximum width of 576px */
@media (max-width: 576px) {
  .container {
    /* Reduce the padding inside the container to 10px */
    padding: 10px;
  }

  .hero-carousel img {
    /* Set the height of carousel images to 30% */
    height: 30vh;
  }

  .static-img {
    height: 30vh;
  }

  .text-center h1 {
    font-size: 1.5rem;
  }
}
